@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: rgb(156 163 175 / 0); /*gray400*/
  --blue: #1e3a8a; /*blue900*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.max-container {
  @apply mx-auto max-w-[1440px];
}

.angled-gradient {
  /* @apply bg-gradient-to-b from-gray-400 to-blue-900; */
  background: linear-gradient(220deg, var(--gray), var(--blue));
}
